
:root {
    --framecolor: steelblue;
    --backtabcolor: #2a4e6c;
    --pressedcolor: #386890;
}

html {
}

iframe {
    border: none;
}

#outerContainer {
    text-align: center;
    float: left;
    width: 100%;
    display:block;
    overflow:auto;
}

#bannerContainer {
    text-align: center;
    float: left;
    width: 100%;
    font-family: 'Encode Sans Expanded', sans-serif;
    margin: 0;
    
}

#sectionSelector {
    width: 100%;
    float: left;
}

.sectionButton {
    /*width: calc(50% - 3px);*/
    display: inline-block;
    border-radius: 8px 8px 0 0;
    padding: 10px;
    border-top: 2px black;
    border-left: 2px black;
    border-right: 2px black;
    border-bottom: none;
    outline: none;
    /*font-size: 24px;*/
    font-family: 'Encode Sans Expanded', sans-serif;
    color: white;
}

.thispage {
    background-color: var(--framecolor);  
}

.thispage:hover {
    background-color: var(--framecolor);
}

.otherpage {
    background-color: var(--backtabcolor);
}

.otherpage:hover {
    background-color: var(--pressedcolor);
}

#belowSectionDiv {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: var(--framecolor);
    margin: auto;
    display: block;
    border-left: 2px black;
    border-right: 2px black;

}

/* ---------------   content  -------------- */

#contentContainer {
    float: left;
    width: 100%;
    background-color: var(--framecolor);
    border-bottom: 2px black;
    border-left: 2px black;
    border-right: 2px black;

}


/* ---------------   histogram  -------------- */

#histSelect {
    margin: 10px;
}


